---
const year = new Date().getFullYear();
---

<footer>
	<p>&copy; {year} SimplySheetDesign</p>
</footer>
<style>
	footer {
		padding: var(--space-xl) var(--space-md);
		text-align: center;
		font-size: var(--text-small);
		color: rgba(255, 255, 255, 0.6);
		background: var(--color-bg-inverse);
	}
</style>
